<app-preloader></app-preloader>
<app-navbar></app-navbar>
<div class="banner-area banner-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Find Your <span>Desire</span> Job</h1>
                    <p>Jobs, Employment & Future Career Opportunities</p>

                    <div class="banner-form-area">
                        <!-- {{categoryData | json}} -->
                        <form [formGroup]="jobPostFormm"  (ngSubmit)="filterShow()">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="icofont-search-1"></i></label>
                                        <input type="text" class="form-control" formControlName="title" placeholder="Job Title">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="icofont-location-pin"></i></label>
                                        <input type="text" class="form-control" formControlName="city" placeholder="City">
                                    </div>
                                </div>
                               <!-- {{categoryData | json}} -->
                                <div class="col-lg-4" style="display:none">
                                    <div class="">
                                        <select class="">
                                           <option *ngFor="let cat of categoryData">{{cat.category}}</option>
                                           
                                        </select>	
                                    </div>
                                </div>
                            </div>
                            <!-- <a   (click)="filterShow()"> -->
                          <button type="submit" class="btn banner-form-btn">Search</button>   <!--</a> -->
                        </form>
                    </div>

                    <div class="banner-btn">
                        <a routerLink="/profile_sign_up">Create Your Profile</a>
                        <a routerLink="/profile_sign_up">Upload Your CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="category-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Choose Your Desire Category</h2>
        </div>

        <div class="row">
            <!-- {{categoryData | json}} -->
            <div class="col-sm-3 col-lg-3 category-border" *ngFor="let catData of categoryData | paginate:{id:'cat_list_pagination',
            itemsPerPage: 10,
            currentPage : page2,
            totalItems:totalcategory

          }">
                <div class="category-item">
                    <!-- <i class="flaticon-layers"></i> -->
                    <img src="{{imageUrl}}{{catData.imgurl}}" class="catImg" height="auto" width="60px" >
                    <a  [routerLink]="['/job_details',catData.id]">{{catData.category}}</a>
                </div>
            </div>
           
        </div>

        <div class="pagination-area" style="text-align:center">
            <br><br>
            <pagination-controls id="cat_list_pagination"  (pageChange)="page2 = $event"></pagination-controls></div>

    </div>
</section>

<div class="portal-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="portal-item">
                    <div class="row">
                        <div class="col-lg-7">
                            <img src="assets/img/home-1/1.jpg" alt="Portal">
                        </div>

                        <div class="col-lg-5">
                            <img src="assets/img/home-1/2.jpg" alt="Portal">
                        </div>
                    </div>

                    <div class="portal-trusted">
                        <span>100% Trusted</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="portal-item portal-right">
                    <h2>Trusted & Popular Job Portal</h2>
                    
                    <div class="common-btn">
                        <!-- <a class="login-btn" routerLink="/company_profile_login">Post a Job <i class="icofont-swoosh-right"></i></a> -->
                        <a class="sign-up-btn" routerLink="/job-list">Apply Now <i class="icofont-swoosh-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="job-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Recent Jobs</h2>
        </div>

        <div class="sorting-menu">
        </div>

        <div class="container">
            <div class="row" >
                <div class="col-md-6" *ngFor="let data of users| paginate:{id:'list_pagination',
                itemsPerPage: 10,
                currentPage : page,
                totalItems:totalRecords
    
              }">
                    <div class="job-item">
                        <div class="row">
                        <div class="col-md-2">
                        <img src="{{imageUrl}}{{data.image}}" alt="Job" class="images">
                    </div>
                    <div class="col-md-10">
                        <div class="job-inner">
                            <div class="job-inner-left">
                                <h3>{{(data.title | slice:0:10)+"..."}}</h3>
                                <a routerLink="/company-details">{{data.email}}</a>
                                <ul>
                                    <li><i class="icofont-money-bag"></i>{{(data.salaryOffer  | slice:0:10)+"..."}}</li>
                                    <li><i class="icofont-location-pin"></i> {{data.city}},{{data.country}}</li>
                                    <li><i class="icofont-external"></i> {{(data.experience | slice:0:10)+"..."}}</li>
                                    <li><i class="icofont-checked"></i>Skills- {{(data.skills | slice:0:10)+"..."}}</li>
                                    <li><i class="icofont-close"></i>DeadLine Date- {{data.deadlineDate}}</li>
                                    
                                    
                                </ul>
                            </div>
    
                            <div class="job-inner-right">
                                <ul>
                                    <li><a [routerLink]="['/apply_jobs',data.id]">Apply</a></li>
                                    <li><a [routerLink]="['/company-details',data.id]">View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
    
            </div>
        
    </div>
    <div class="pagination-area" style="text-align:center">
        <pagination-controls id="list_pagination"  (pageChange)="page = $event"></pagination-controls></div>
</div>
</section>

<div class="counter-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-employee"></i>
                    <h3><span class="counter">{{data.postedJob}}</span></h3>
                    <p>Job Available</p>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-curriculum"></i>
                    <h3><span class="counter">{{data.jobSeekers}}</span></h3>
                    <p>CV Submitted</p>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-enterprise"></i>
                    <h3><span class="counter">9</span>k+</h3>
                    <p>Companies</p>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-businessman-paper-of-the-application-for-a-job"></i>
                    <h3><span class="counter">35</span>+</h3>
                    <p>Appointed to Job</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="popular-item">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <img src="assets/img/home-1/3.jpg" alt="Popular">
                        </div>

                        <div class="col-lg-5">
                            <div class="practice-inner">
                                <img src="assets/img/home-1/4.jpg" alt="Popular">
                                <img src="assets/img/home-1/5.jpg" alt="Popular">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="popular-item popular-right">
                    <div class="section-title text-start">
                        <h2>Why We are Most Popular</h2>
                    </div>
                    <p>job seekers as they get an unbiased and firsthand experience of how it is to work in a company where they intend to apply. The portal lets you see the work culture, how responsive is management to employee grievances, employee rating about the management, etc.</p>

                    <div class="row popular-wrap">
                        <div class="col-sm-6 col-lg-6">
                            <ul>
                                <li><i class="flaticon-approved"></i> Trusted & Quality Job</li>
                                <li><i class="flaticon-no-money"></i> No Extra Charge</li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <ul>
                                <li><i class="flaticon-enterprise"></i> Top Companies</li>
                                <li><i class="flaticon-employee"></i> International Job</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="companies-area ptb-100">
    <div class="container">
        <div class="row" >
            <div class="col-md-6" *ngFor="let data of users">
                <div class="job-item">
                    <div class="row">
                    <div class="col-md-2">
                    <img src="http://localhost:8080/image/{{data.image}}" alt="Job">
                </div>
                <div class="col-md-10">
                    <div class="job-inner">
                        <div class="job-inner-left">
                            <h3>{{data.title}}</h3>
                            <a routerLink="/company-details">{{data.email}}</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i>{{data.salaryOffer}}</li>
                                <li><i class="icofont-location-pin"></i> {{data.city}},{{data.country}}</li>
                                <li><i class="icofont-external"></i> {{data.experience}}</li>
                                <li><i class="icofont-checked"></i>Skills- {{(data.skills | slice:0:10)+"..."}}</li>
                                <li><i class="icofont-close"></i>DeadLine Date- {{data.deadlineDate}}</li>
                                
                                
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a [routerLink]="['/apply_jobs',data.id]">Apply</a></li>
                                <li><a [routerLink]="['/company-details',data.id]">View Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

        </div>
      
    </div>
</section> -->

<section class="profile-area ptb-100" style="display: none;">
    <div class="container">
        <div class="section-title">
            <h2>Featured Profile</h2>
        </div>

        <div class="profile-slider owl-theme owl-carousel">
            <div class="profile-item">
                <img src="assets/img/home-1/profile/1.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jerry Hudson</h3>
                    <span>Business Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/2.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jac Jacson</h3>
                    <span>Web Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/3.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Tom Potter</h3>
                    <span>UX/UI Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="profile-item">
                <img src="assets/img/home-1/profile/4.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Shane Mac</h3>
                    <span>SEO Consultant </span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/5.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jerry Hudson</h3>
                    <span>Business Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/6.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jac Jacson</h3>
                    <span>Web Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/7.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Tom Potter</h3>
                    <span>UX/UI Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/8.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Shane Mac</h3>
                    <span>SEO Consultant </span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/1.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jerry Hudson</h3>
                    <span>Business Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/2.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Jac Jacson</h3>
                    <span>Web Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/3.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Tom Potter</h3>
                    <span>UX/UI Consultant</span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="profile-item">
                <img src="assets/img/home-1/profile/4.jpg" alt="Profile">
                <div class="profile-inner">
                    <h3>Shane Mac</h3>
                    <span>SEO Consultant </span>
                    <a routerLink="/candidate-details">View Profile<i class="icofont-swoosh-right"></i></a>
                    <div class="profile-heart">
                        <a routerLink="/candidate-details"><i class="icofont-heart-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="app-item app-left">
                    <img src="assets/img/home-1/6.png" alt="Mobile">
                    <img src="assets/img/home-1/7.png" alt="Mobile">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="app-item">
                    <div class="section-title text-start">
                        <h2>Download  The EHIRE HUB Mobile App</h2>
                    </div>
                    <p>The EHIRE HUB At Home app is a convenient tool to help monitor and manage your Globe At Home Postpaid Broadband and/ or Globe At Home Prepaid Wifi account.</p>
                    <div class="app-btn">
                        <a class="app-btn-one" href="#">
                            <i class="flaticon-apple"></i>
                            <span>Download on the</span>
                            <p>App Store</p>
                        </a>
                        <a class="app-btn-two" href="#">
                            <i class="flaticon-playstore"></i>
                            <span>ANDROID APP ON</span>
                            <p>Google Play</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-area pt-100 pb-170" style="display: none;">
    <div class="container">
        <div class="section-title">
            <h2>Our Latest Blogs</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".3s">
                    <div class="blog-top">
                        <a routerLink="/blog-details"><img src="assets/img/home-1/blog/1.jpg" alt="Blog"></a>
                        <span>21 May, 2020</span>
                    </div>

                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-details">The next genaration IT will change the world</a></h3>
                        <ul>
                            <li><img src="assets/img/home-1/blog/1.png" alt="Blog"> Aikin Ward</li>
                            <li><a routerLink="/blog-details">Read More<i class="icofont-simple-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".4s">
                    <div class="blog-top">
                        <a routerLink="/blog-details"><img src="assets/img/home-1/blog/2.jpg" alt="Blog"></a>
                        <span>22 May, 2020</span>
                    </div>

                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-details">It is the most important sector in the world</a></h3>
                        <ul>
                            <li><img src="assets/img/home-1/blog/1.png" alt="Blog">Aikin Ward</li>
                            <li><a routerLink="/blog-details">Read More<i class="icofont-simple-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".5s">
                    <div class="blog-top">
                        <a routerLink="/blog-details"><img src="assets/img/home-1/blog/3.jpg" alt="Blog"></a>
                        <span>23 May, 2020</span>
                    </div>

                    <div class="blog-bottom">
                        <h3><a routerLink="/blog-details">Nowadays IT is being most popular</a></h3>
                        <ul>
                            <li><img src="assets/img/home-1/blog/1.png" alt="Blog"> Aikin Ward</li>
                            <li><a routerLink="/blog-details"> Read More<i class="icofont-simple-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br>    
<app-footer></app-footer>